body.toplevel_page_psydro-options #wpcontent, .toplevel_page_psydro-options #wpfooter {
    padding-left: 0 ;
}
.fancybox-lock {
    /* overflow: hidden !important; */
    width: auto;
}
.psydro-options {
    padding:0 20px;
}

.psydro-header-wrap {
    margin: 20px;
    padding: 15px 0px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    align-items: -webkit-center;
    border-bottom: 1px solid #ddd;
}

.psydro-brand {
    margin-right: 15px;
    text-align: right;
    flex: 1;
    -webkit-flex:1;
}

.psydro-tab {
    position: relative;
    z-index: 0;
    width: 70%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}
.psydro-info h2{
    margin: 0;
    margin-bottom: 5px;
}
.psydro-tab p {
    font-size: 14px;
    line-height: 28px;
}
.psydro-tab-heading {
    padding: 25px;
    margin: 35px 0 0;
    background-color: #dedede;
}


.psydro-7 {
    width: 70%;
    float: left;
}

.psydro-3 {
    margin-left: 2%; 
    width: 28%;
    float: left;
}

.psydro-tab input[type="text"] {  
    padding: 10px 12px;
    border-radius: 2px;
    background: #f7f7f7;
    line-height: 1.3;
    border: 1px solid #e1e1e1;
    vertical-align:middle;
    margin-right: 10px;
    width: 50%;
}

.psydro-tab input[type="submit"],
.psydro-tab input[type="button"],
.psydro-tab button[type="button"]{ 
    background: #0085ba;
    color: #fff;
    text-decoration: none;
    border:1px solid  #0085ba;
    padding: 10px 12px;
    border-radius:3px;
    cursor: pointer;
    vertical-align:middle;
}
.psydro-tab input[type="submit"]:disabled,
.psydro-tab input[type="button"]:disabled,
.psydro-tab button[type="button"]:disabled{
    border-color: rgb(160, 165, 170);
}
.psydro-tab-content{
    position: relative;
    padding-bottom: 10px;
}
.psydro-success , .psydro-error {
    max-width: 450px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.psydro-success {
    color: #3c763d;
}

.psydro-error {
    color: #a94442;
}

.psydro-shortcode-output {
    background: #FF5A58;
    padding:  25px 15px;
    border-top: 1px solid #ca5252;
    width: 100%;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.tab-info {
    color: #777;
    margin: 0  0 15px;
    line-height: 22px;
    font-size: 14px;
    margin: 0px 0px 5px
}

.invalid-tab {
    color: transparent;
    pointer-events: none;
    cursor: default; 
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.invalid-tab:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
}
.psydro-heading-toggle img {
    height: 15px;
    width: 15px;
}
table.psydro-table-striped{
    margin-bottom: 15px;
    }
.psydro-heading-toggle{
    display:inline-block;
    padding-right:10px;
}
table.psydro-table-striped tr td label{
    font-size: 16px;
    font-weight:600;
    color:#444;
    line-height: 30px;
}
table.psydro-table-striped tr td{
    padding: 10px 0;
}
table.psydro-table-striped tr td p{
    margin:0;
    font-size: 13px;
    line-height: 20px;
    color: #999;
    
}
table.psydro-table-striped tr td select.select-dimension, 
table.psydro-table-striped tr td select.slider-image-drpdn{
    font-size: 14px;
    display: inline-block;
    padding: 9px 15px;
    border-radius: 2px;
    height:auto;
    background: #f7f7f7;
    line-height: 1.3;
    border: 1px solid #e1e1e1;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}
table.psydro-table-striped tr td .sp-replacer{
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    border: solid 1px #e1e1e1;
    background: #f7f7f7;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}
table.psydro-table-striped tr td .sp-preview{
    width: 80%;
    border: solid 1px #e1e1e1;
}
#reset {
    display: inline-block ;
    display: none;
    cursor: pointer;
    color: #777;
    font-size: 15px;
    vertical-align: middle;
}
#reset-image {
    display: none;
    cursor: pointer;
}
.psydro-shortcode-reset-button{ 
   text-align:right;
   margin-bottom:10px;
}
.psydro-shortcode-reset-button img{
    vertical-align: middle;
    display:inline-block;
    height: 20px;
    width: 20px;
}
.psydro-api-show-img {
    display: none;
}
.psydro-shortcode-show-img {
    display: none;
}
p.psydro-review-slider-edit-shorcode {
    background: #398cbe;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #398cbe;
}
p.psydro-review-slider-edit-tagline {
    font-style: italic;
    color: #6d6969;
}
.api_message {
    font-size: 15px;
    padding: 10px 0px;
    font-weight: 800;
    margin-top: 30px;
}
.psydro-slider-buttons {
    margin-bottom: 40px;
    margin-top: 30px;
}
.psydro-instruction{
    width: 30%;
    float: right;
    border-left: 1px solid #ddd;
    padding-left:20px;
    box-sizing: border-box; 
}
.psydro-instruction h2{
    font-size: 15px;
    padding: 0px;
    margin: 0;
    font-weight: 800;
    line-height: 24px;
    margin: 15px 0;
}
.psydro-instruction ul{
    margin: 0;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 30px;
}
.psydro-instruction ul li{
    list-style-type: square;
    display: list-item;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #666;
}
.psydro-instruction ul li strong{
    color: #333;
}